<div>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">Test 400 Bad Request Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401Error()">Test 401 Auth Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">Test 400 Not FoundError</button>
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">Test 500 Server Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">
        Test 400 Validation Error</button>


   @if(validationErrors.length>0){
    <h1 class="mt-5">Test Errors</h1>
    <div class="alert alert-danger">
        <ul class="text-danger">
            @for (error of validationErrors; track $index) {
                <li>{{error}}</li>
            }
        </ul>
    </div>
   }

</div>